/*CSS chung cho toàn bộ và từng memBox*/
.mem-box-wrapper {
  background-color: #2f2f2f;
}
.container {
  height: 100vh;
  margin: 0 10rem 0 10rem;
  position: relative;
}
.imgBox {
  height: 35rem;
  width: 25rem;
  background-position: center center;
  margin-top: -16rem;
  overflow: hidden;
}
.imgBox img {
  height: 37rem;
  width: auto;
  margin: -5rem 0 0 -15rem;
}
.dash {
  display: block;
  background-color: #ec8200;
  padding: 1px;
  width: 13%;
}
.header-memBox {
  color: #ec8200;
  font-size: 13px;
  letter-spacing: 4px;
  float: right;
  position: relative;
  left: -15rem;
  top: -10px;
}
.title {
  font-size: 55px;
  color: #fff;
  font-family: "Newsreader", serif;
  margin: 2rem 0;
}

.content {
  margin: 10px 0 20px 0;
  color: #fff;
}
/*CSS cho content sau, ảnh trước*/
.img-first {
  position: absolute;
  top: 50%;
}

.infoRight {
  position: relative;
  top: 30%;
  float: right;
  width: 75vh;
}

.infoRight a {
  text-decoration: none;
  color: #ec8200;
}

/*CSS cho content trước, ảnh sau*/
.img-second {
  float: right;
  position: relative;
  top: 50%;
}

.infoLeft {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 65vh;
}

.infoLeft a {
  text-decoration: none;
  color: #ec8200;
}
